@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {margin:0;padding:0;box-sizing:border-box;scroll-behavior: smooth;}

:root {
    --color0: #122126;
    --color1: #122126;
    --color2: #405259;
    --color3: #94A1A6;
    --color4: #F2F2F2;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background-color: var(--color0);
}

/**
 * IDS
 */

#section-one {
    position: relative;
}

#header-nav {
    background-color: var(--color0);
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

#header-links {
    display: flex;
    justify-content: space-between;
}

#header-title, #header-links-right a {
    color: white;
    padding: 0px 25px;
    text-decoration: none;
}

#home-feature {
    position: relative;
    width: 100%;
}

#home-image {
    background: var(--color0) url(../images/background.jpg) center center no-repeat;
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-size: cover;
}

#home-description {
    background-color: #0000008f;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    min-width: 200px;
    text-align: center;
}

#home-description >  h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 7px;
}

#background-two {
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 50px;
}

#background-two > p {
    padding: 50px;
    margin: 25px;
    color: white;
    line-height: 50px;
    background-color: #111111d2;
    border-radius: 10px;
}

#background-three-image {
    background: url(../images/background-two.jpg) center bottom no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 65vh;

}

#section-three {
    position: relative;
}

#background-three-image > p {
    color: white;
    background-color: #1111119f;
    position: absolute;
    padding: 25px 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
}

#scroll-indicator-bar, #scroll-indicator  {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color2);
    height: 5px;
    width: 100%;
}

#scroll-indicator {
    z-index: 101;
    background-color: var(--color3);
    height: 5px;
    width: 0%;
}

footer {
    color: white;
    padding: 25px;
    text-align: center;
}

.links {
    text-decoration: none;
    background-color: var(--color2);
    padding: 4px 5px;
    transition-duration: 0.25s;
    margin: auto;
    width: 220px;
}

.links:visited, a {
    color: white;
    text-decoration: none;

}

.links:hover, .links:hover:visited {
    background-color: rgb(85, 85, 85);
}

#copyright {
    padding: 15px 0px;
}
/**
 * CLASSES
 */

 /**
  * WEBKITs
  */
::-webkit-scrollbar {
    background-color: rgb(27, 27, 27);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 5px;
}
