@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {margin:0;padding:0;box-sizing:border-box;scroll-behavior: smooth;}

:root {
    --color0: #112622;
    --color1: #1A4035;
    --color2: #36735C;
    --color3: #1E5927;
    --color4: #29732E;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 300vh;
    background-color: var(--color0);
}

/**
 * IDS
 */

#section-one {
    position: relative;
}

#header-nav {
    background-color: var(--color0);
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

#header-links {
    display: flex;
    justify-content: space-between;
}

#header-title, #header-links-right a {
    color: white;
    padding: 0px 25px;
    text-decoration: none;;
}

#home-feature {
    position: relative;
    width: 100%;
}

#home-image {
    background: var(--color0) url(../images/background.jpg) center center;
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
}

#home-description {
    background-color: #0000008f;
    color: white;
    position: absolute;
    top: 45%;
    padding: 30px;
    width: 67%;
}

#home-description >  h1 {
    font-size: 3em;
}

#background-two {
    background-color: var(--color0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 50px;
}

#background-two > p {
    padding: 50px;
    margin: 25px;
    color: white;
    line-height: 50px;
    background-color: #111111d2;
    border-radius: 10px;
}

#background-three-image {
    background: url(../images/background-two.jpg) center bottom no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 65vh;
}

#section-three {
    position: relative;
}

#background-three-image > p {
    color: white;
    background-color: #1111119f;
    padding: 25px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 5px;
}

/**
 * CLASSES
 */

 /**
  * WEBKITs
  */
::-webkit-scrollbar {
    background-color: rgb(27, 27, 27);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 5px;
}
